html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

.container-fluid {
	padding: 0;
	width: 100%;
}


.main-hr {
	margin: 2px; 
	border-top: 1px solid black;
	justify-content: center;
}

.main-h1 {
	font-size: 30px;
}

@import 'css-layouts/navbar';
@import 'css-layouts/header';
@import 'css-layouts/about';
@import 'css-layouts/developer-tools';
@import 'css-layouts/contact';

#footer-row {
	width: 100%;
	margin: 0;
}

#footer-col1 {
	background-color: #404040;
}

#footer-row2 {
	min-height: 300px; 
	margin: 5px;
}

#footer-col2 {
	color: white; 
	text-align: center;
}

#footer-h4 {
	font-weight: 300;
	text-decoration: underline;
}

#footer-p {
	font-size: 20px; 
	font-weight: 300;
}

#footer-hr {
	border-top: 2px solid white;
	width: 600px;
}

#footer-ul {
	padding-left: 0;
}