html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.main-hr {
  margin: 2px;
  border-top: 1px solid black;
  justify-content: center;
}

.main-h1 {
  font-size: 30px;
}

#nav-row1 {
  width: 100%;
  margin: 0;
}

#nav-col1 {
  padding: 0;
}

.navbar-brand {
  padding-left: 10px;
}

#header-row1 {
  width: 100%;
  margin: 0;
}

#header-col1 {
  padding: 10px;
  background-image: url("/image/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header-row2 {
  padding: 10px;
  min-height: 702px;
  width: 100%;
  margin: 0;
}

#header-h1 {
  color: white;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
}

#header-hr {
  margin: 2px;
  border-top: 1px solid white;
}

#header-h3 {
  color: white;
  font-size: 25px;
  font-weight: 300;
}

#about {
  padding: 0;
}

#about-row1 {
  width: 100%;
  margin: 0;
}

#about-row2 {
  width: 100%;
  margin: 0;
  min-height: 768px;
}

#about-col1 {
  padding: 0;
}

#about-col2 {
  text-align: left;
  background-image: url("/image/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-weight: 500;
  padding: 10px;
  padding-top: 100px;
}

#about-p {
  padding: 30px;
  background-color: white;
  opacity: 0.6;
  margin: 0;
  font-size: 22px;
}

#developer-tools {
  padding: 0;
}

#devtools-col1 {
  padding: 0;
}

#devtools-row {
  min-height: 150px;
  padding: 0;
  width: 100%;
  margin: 0;
}

#devtools-row col-md-6 {
  padding: 0;
}

#icon-description {
  padding: 0;
}

#contact {
  padding: 0;
}

#contact-row {
  width: 100%;
  margin: 0;
}

#contact-col1 {
  padding: 0;
}

#contact-row2 {
  min-height: 430px;
  margin: 5px;
}

#contact-col2 {
  padding-left: 30px;
  padding-top: 20px;
  background-color: #4d4dff;
  color: black;
}

#form {
  margin: 10px;
}

#forminput-left {
  text-align: left;
}

#forminput-left label {
  Font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}

#forminput-center {
  text-align: center;
}

#forminput-center label {
  Font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}

#forminput-center small {
  Font-weight: 600;
  font-size: 15px;
}

#label {
  font-decoration: underline;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

#footer-row {
  width: 100%;
  margin: 0;
}

#footer-col1 {
  background-color: #404040;
}

#footer-row2 {
  min-height: 300px;
  margin: 5px;
}

#footer-col2 {
  color: white;
  text-align: center;
}

#footer-h4 {
  font-weight: 300;
  text-decoration: underline;
}

#footer-p {
  font-size: 20px;
  font-weight: 300;
}

#footer-hr {
  border-top: 2px solid white;
  width: 600px;
}

#footer-ul {
  padding-left: 0;
}

