#about {
	padding: 0;
}

#about-row1 {
	width: 100%;
	margin: 0;
}

#about-row2 {
	width: 100%;
	margin: 0;
	min-height: 768px;
}

#about-col1 {
	padding: 0;
}

#about-col2 {
	text-align: left; 
	background-image: url('/image/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover; 
	color: black; 
	font-weight: 500; 
	padding: 10px; 
	padding-top: 100px;
}

#about-p {
	padding: 30px; 
	background-color: white; 
	opacity: 0.6; 
	margin: 0; 
	font-size: 22px;
}