#contact {
	padding: 0;
}

#contact-row {
	width: 100%;
	margin: 0;
}

#contact-col1 {
	padding: 0;
}

#contact-row2 {
	min-height: 430px; 
	margin: 5px;
}

#contact-col2 {
	padding-left: 30px; 
	padding-top: 20px; 
	background-color:  #4d4dff; 
	color: black;
}

#form {
	margin: 10px;
}

#forminput-left {
	text-align: left;
}

#forminput-left label {
	Font-weight: 400;
	font-size: 20px;
	text-decoration: underline;
}


#forminput-center{
	text-align: center;
}

#forminput-center label{
	Font-weight: 400;
	font-size: 20px;
	text-decoration: underline;
}

#forminput-center small{
	Font-weight: 600;
	font-size: 15px;
}

#label {
	font-decoration: underline;
}

.btn-primary {
	background-color: black; 
	border-color: black;
}