#developer-tools {
	padding: 0;
}

#devtools-col1 {
	padding: 0;
}

#devtools-row {
	min-height: 150px; 
	padding: 0;
	width: 100%;
	margin: 0;
}

#devtools-row col-md-6 {
	padding: 0;
}

#icon-description {
	padding: 0;
}