#footer-row {
	width: 100%;
	margin: 0;
}

#footer-col1 {
	background-color: #404040;
}

#footer-row2 {
	min-height: 300px; 
	margin: 5px;
}

#footer-col2 {
	color: white; 
	text-align: center;
}

#footer-h4 {
	font-weight: 300;
	text-decoration: underline;
}

#footer-p {
	font-size: 20px; 
	font-weight: 300;
}

#footer-hr {
	border-top: 2px solid white;
}

#footer-ul {
	padding-left: 0;
}