#header-row1 {
	width: 100%;
	margin: 0;
}

#header-col1 {
	padding:10px; 
	background-image: url('/image/bg1.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover;
}

#header-row2 {
	padding:10px; 
	min-height: 702px;
	width: 100%;
	margin: 0;
}

#header-h1 {
	color: white; 
	margin: 0; 
	font-size: 35px; 
	font-weight: 400;
}

#header-hr {
	margin: 2px; 
	border-top: 1px solid white; 
	
}

#header-h3 {
	color: white; 
	font-size: 25px; 
	font-weight: 300; 
}